
/**
Base colors

main: #8892b0
main(light): #ccd6f6 
active: #64ffda

dark: #0a192f
lightdark: #112240
*/


* {
  line-height: 1.75;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  color:#ccd6f6;
}

body {
  background: #0a192f;
}

hr {
  opacity: 1;
}

p {
  color: #8892b0;
}

a {
  color: #64ffda;
}

#timeline-main-wrapper {
  padding:0;
}

.nav-tabs button {
  /* color: grey; */
  font-weight: 600;
}

.accordion-button:not(.collapsed){
  font-family: montserrat,sans-serif;
}

.portfolio_nav li {
  cursor: pointer;
}

.card {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  transform: scale(1.075);
  box-shadow: 0 5px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #64ffda;
  color: #64ffda !important;
}


/*****
  Bootstrap overrides
*****/

.btn-success {
  background: #54B689 !important;
}

.btn-dark {
  background: #4f4f4f !important;
}

.bg-primary {
  background: #54B689 !important;
}

.card, .card-body {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .25s;
}

a.card:hover {
  cursor: pointer;
}

.card {
  background: #233554;
  box-shadow: none;
  border: none;
}

@media (min-width: 976px) {

  #baseLayout_mainContainer {
    margin-left: 200px;
    width:calc(100% - 325px);
  }

}


@media (min-width: 1600px) {

  #baseLayout_mainContainer {
    margin-left: 430px;
    width:calc(100% - 430px);
  }

}

/* Leaflet styles */

.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
  box-shadow: none;
  border: 5px solid #789283;
}

#sticky-map-container {
  transition: .05s transform cubic-bezier(.155,1.105,.295,1.12),.3s top,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}