
* {
  line-height: 2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: montserrat,sans-serif;
  
}

p {
  font-family: montserrat,sans-serif;
  color: #343a40;
  /* font-weight: 600; */
}

#timeline-main-wrapper {
  padding:0;
}

.nav-tabs button {
  color: grey;
  font-weight: 600;
}