
* {
  line-height: 1.75;
  font-family: Raleway,Helvetica,Tahoma,Geneva,Arial,sans-serif!important;
}

hr {
  opacity: 1;
}

.h2, .h3, .h4 {
  /* border-left: 5px solid black; */
  /* padding-left: .5em; */
}

p {
  /* font-family: montserrat,sans-serif; */
  color: #343a40;
  /* font-weight: 600; */
}

#timeline-main-wrapper {
  padding:0;
}

.nav-tabs button {
  color: grey;
  font-weight: 600;
}

.accordion-button:not(.collapsed){
  background: white;
  color: #0e0f11;
  font-family: montserrat,sans-serif;
}

.portfolio_nav li {
  cursor: pointer;
}

.card{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover{
  /* background: white !important; */
  transform: scale(1.03);
  box-shadow: 0 5px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  cursor: pointer;
}


/*****
  Bootstrap overrides
*****/

.btn-success {
  background: #54B689 !important;
}

.btn-dark {
  background: #4f4f4f !important;
}

.bg-primary {
  background: #54B689 !important;
}

.card, .card-body {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .25s;
}

a.card:hover {
  cursor: pointer;
  box-shadow: inset 1px 1px 10px 1px lightgrey;
}

a.card:hover .card-body {
  padding-top: .125em;
}


@media (min-width: 976px) {

  #baseLayout_mainContainer {
    margin-left: 325px;
    width:calc(100% - 325px);
  }

}


@media (min-width: 1600px) {

  #baseLayout_mainContainer {
    margin-left: 430px;
    width:calc(100% - 430px);
  }

}